.container{
    max-width: 1200px;
    margin: 0 auto;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 3rem;
  
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
   
}
.summary-section{
    background-color: #FFE0B3;
    margin-left: 1.5rem;
    padding: .7rem;
}