.container{
    max-width: 1200px;
    margin: 0 auto;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 3rem;
  
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
   
}
.summary-section{
    background-color: #FFE0B3;
    margin-left: 1.5rem;
    width: 250px;
    padding: .7rem;
    border-radius: 7px;
}
.review-order-btn{
    margin-top: 2rem;
    padding: .7rem 1.5rem;
    cursor: pointer;
    border: none;
    background-color: #DD636E;
    color: white;
    border-radius: 7px ;
}
.review-order-btn:hover{
    background-color: #df5460;

}

.pagination-container button{
    padding: 5px 10px;
    margin: 0 5px;
    margin-bottom:1rem;
    background-color: white;
    border: 2px solid #FFE0B3;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.pagination-container button:hover{
    color:white;
    background-color: #df5460;

}
.pagination-container .selected{
    background-color: #df5460;
    color: white;
}