.container{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    background-color: #1C2B35;
    
    
}
#logo img{
    width: 10%;
    cursor: pointer;
}


.nav{
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks ul li a{
    color: white;
}
.navlinks ul{
    display: flex; 
}
.navlinks ul li{
    margin: 0 1rem;
}
.navlinks ul li a:hover{
    color: #FF9900;
}
.log-out-btn{
   padding: 8px 20px;
   border: none;
   background-color: #DF5460;
   border-radius: 6px;
   font-weight: 600;
   color: white;
   cursor: pointer;
}
.log-out-btn:hover{
    background-color: #c34751;
}